.container {
    width: 550px;
    border-radius: 15px;
    margin:auto;
    padding: 25px;
    background-color: #fafafa;
    box-shadow: 10px 11px 35px -14px rgba(0,0,0,0.54);
}
.h-title {
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
}
.image {
    width: 200px;
    border-radius: 50%;
    margin: 15px;
    border: 5px dotted #8b603d;
    float: left;
}
.p-style {
    font-size: 16px;
}