body {
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}
section {
    margin: 20px;
}
p {
    font-size: 24px;
   
}
h1 {
    font-size: 28px;
}
nav {
    background-color: #444;
    display: flex;
    justify-content: center;
   
}
 a {
    text-decoration:none;
    color:white;
    padding: 50px;
}
li {
    list-style:none;
    padding: 0px;
    margin: 0px;
    display:inline-block;
    font-size: 30px;
}
footer {
    background-color: #444;
    color:#fff;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    
}